:root {
  --main-text-color: #757575;
  --secondary-text-color: #373737;
  --white: #ffffff;
  --black: #000000;
  --accent-orange-color: #fda700;
  --form-background: rgba(13, 43, 109, 0.8);
  --info-background: rgba(255, 255, 255, 0.8);
  --card-background: #f3f3f3;
  --whitish-background: #f5f5f5;
  --main-blue: #0d2b6d;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
